@use '../util/' as *;

html {
	font-size: 62.25%; /* inace bi moglo 100% */ /* spustit ce pixele sa 16px na 10, tako da ako koristimo rem onda ce 1rem=10px */
	box-sizing: border-box;
}

*,
*::before,
*::after {
	box-sizing: inherit;
}

body {
	font-family: 'Kumbh Sans', sans-serif;
	margin: 0;
	padding: 0;
    font-size: 1.6em; /* stavlja da su po defaultu fontovi 16px, tj 1.6rem */
}

// flexbox styles
.flex {
	display: flex;
  
	&-jc-sa{
		justify-content: space-around;
	}

	&-jc-sb {
	  justify-content: space-between;
	}
  
	&-jc-c {
	  justify-content: center;
	}
  
	&-ai-c {
	  align-items: center;
	}
  }

//spacing
.container{
	max-width: 111.3rem;
	margin: 0 auto;

	&--px{
		padding-left: 2.4rem;
		padding-right: 2.4rem;
		@include breakpoint(medium){
			padding-left: 5rem;
			padding-right: 5rem;
		}
	}
	&--py{
		padding-top: 2rem;
		padding-bottom: 2rem;
		@include breakpoint(medium){
			padding-top: 2.6rem;
		padding-bottom: 2.6rem;
		}
	}
}

// Visiility
.hide-for-mobile{
	// hide for tablet and mobile
	@include breakpoint-down(medium){
		display: none !important;
	}
}

.hide-for-desktop{
	@include breakpoint(large){
		display: none !important;
	}
}

.hide-for-tablet{
	@include breakpoint(medium){
		display: none !important;
	}
}

.hide-for-mobile-down{
	@include breakpoint-down(small){
		display: none !important;
	}
}

.hidden{
	display: none;
}



